category-encoders>=2.9.0
h3>=4.3.1
matplotlib>=3.10.7
mime>=0.1.0
nbformat>=5.10.4
numpy<2.2
pandas>=2.3.3
pandas-profiling>=3.0.0
plotly>=6.3.1
pyperclip>=1.11.0
scikit-learn>=1.7.2
seaborn>=0.13.2
shap>=0.49.1
streamlit>=1.51.0
sync>=1.0.0
uv>=0.9.7
watchdog>=6.0.0
xgboost>=3.1.1s
ydata-profiling>=4.10,<5